.layout {
    width: 100%;
    max-width: 1400px;
}

/* 重新定义宽度 */

.layout>div:first-child {
    width: 100%;
}

#post {
    width: 78%;
}

.aside-content {
    max-width: 312px;
    min-width: 300px;
}

.layout.hide-aside {
    max-width: 1400px;
}

/* 定义是否侧边栏的宽度 */

#recent-posts>.recent-post-item {
    height: 19em;
    border: var(--style-border);
}

#recent-posts>.recent-post-item>.recent-post-info {
    padding: 0 56px;
    width: 64%;
}

@media screen and (max-width: 768px) {
    #recent-posts>.recent-post-item {
        height: auto;
    }

    #recent-posts>.recent-post-item>.recent-post-info {
        padding: 20px 20px 30px;
        width: 100%;
        text-align: center;
    }
}

/* 主页文章列表图片宽度 */

#article-container .tabs {
    border: 3px solid var(--icat-secondbg) !important;
}

#article-container .tabs {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--icat-shadow-border);
    padding: 8px;
    background: var(--icat-card-bg);
    border: var(--style-border);
    margin: 1rem 0px !important;
}

#article-container .tabs .nav-tabs {
    background: var(--icat-background);
    border: 2px solid var(--icat-secondbg) !important;
    border-radius: 6px;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
}

#article-container .tabs>.nav-tabs>.tab button {
    background: var(--icat-background);
    border-radius: 6px;
    border: 1px solid var(--icat-secondbg) !important;
}

#article-container .tabs>.nav-tabs>.tab {
    padding: 3px 3px;
}

#article-container .tabs>.nav-tabs>.tab.active button {
    background: var(--icat-tabs-background);
    color: var(--tab-button-active-bg);
    font-weight: 700;
}

/* Table分栏美化 */

.toggle>.toggle-button::after {
    position: absolute;
    content: "+";
    right: 20px;
}

.toggle[open]>.toggle-button::after {
    position: absolute;
    content: "-";
    right: 20px;
}

/* 右侧展开显示 + - */

.toggle {
    border-radius: 12px;
    margin-top: 20px;
    border: var(--style-border) !important;
}

.toggle>.toggle-button {
    position: relative;
    padding: 10px 18px;
    background-color: var(--icat-background) !important;
    color: var(--icat-fontcolor);
    border-radius: 12px;
    font-weight: 900;
}

.toggle[open]>.toggle-button {
    border-bottom: var(--style-border);
}

/* 折叠栏调整美化 */

blockquote {
    border-left: 2px solid #49b1f5;
    background-color: var(--icat-secondbg);
    color: var(--icat-secondtext);
    border-radius: 8px;
    margin: 1rem 0;
    padding: 0.9rem 1.2rem;
}

/* 引用块美化 */

.note {
    border-radius: 8px;
}

.note.flat {
    border-left: 3px solid #eee;
}

/* note块圆角调整 */

#article-container figure.highlight {
    border-radius: 8px;
}

/* 代码块圆角调整 */



#article-container p {
    font-size: 15px;
}

/*时间轴 字体调整*/


/* 归档、标签、分类页 */
.layout.hide-aside {
    max-width: 1200px;
}

#archive,
#tag,
#category {
    /*background: var(--ichika-card-bg);*/
    background: withe;
    padding: 25px 10px;
}

.article-sort-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-sort-item::before,
.article-sort-title::before,
.article-sort-title::after {
    content: none;
}

.article-sort .year {
    width: 100% !important;
    border-bottom: dashed 5px var(--ichika-color);
    font-size: 26px;
    margin-top: 20px;
}

.article-sort {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    padding: 0;
}

.article-sort-item:not(.year) {
    padding: 8px 10px;
    width: calc(50% - 0.8rem);
    margin: 0.4rem;
    border: 2px solid var(--ichika-color);
    border-radius: 15px;
    background: var(--card-bg);
    transition: 0.5s;
    height: 120px;
}

.article-sort-item-a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.article-sort-item-img {
    transition: 0.5s;
    height: 90px;
    width: 140px;
}

.article-sort-item>a>img {
    border-radius: 15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 25px;
    text-overflow: ellipsis;
}

.article-sort-item-title:hover {
    transform: none;
}

.article-sort-meta {
    height: max-content;
    position: relative;
}

.article-sort-meta>.article-meta-wrap {
    float: left;
}

.article-sort-meta>.article-sort-item-time {
    float: right;
}

.article-sort-item-categories,
.article-sort-item-tags {
    margin: 0 3px;
    padding: 5px 8px;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
    font-size: 12px;
    transition: 0.5s;
}

.article-sort-item-info>div:not(.article-sort-meta) {
    display: flex;
}

.article-sort-description,
.article-sort-item>i {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow: ellipsis;
}

.article-sort-item:hover:not(.year) {
    background-color: var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) {
    background-color: var(--ichika-color);
    box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year)>i {
    width: auto;
    opacity: 1;
}

.article-sort-item:hover:not(.year) .article-sort-description {
    width: auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img {
    transition: 0.5s;
    width: 0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title {
    color: var(--ichika-font-white) !important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,
.article-sort-item:hover:not(.year) .article-sort-description,
.article-sort-item:hover:not(.year) .article-sort-item-time {
    color: var(--ichika-light-grey) !important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories {
    border: 1.5px solid var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags {
    border: 1.5px solid var(--ichika-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover {
    background: var(--ichika-green);
    box-shadow: 0 0 5px var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover {
    background: var(--ichika-purple);
    box-shadow: 0 0 5px var(--ichika-purple);
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta>.article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img {
        width: 90px;
    }
}


/* 分类页面样式 */
#page .category-lists .category-list .category-list-item {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    width: 48%;
    font-weight: 700;
    margin: 0 0.5% 2% 0.5%;
    border-radius: var(--border-radius);
    -webkit-box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
    box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
    border-radius: 8px;
}

@media (max-width: 640px) {
    #page .category-lists .category-list .category-list-item {
        width: 95%;
        border-radius: 8px;
        margin-top: 3px;
    }
}

#page .category-lists .category-list .category-list-item::before {
    display: none;
}

#page .category-lists .category-list .category-list-item .category-list-link {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

#page .category-lists .category-list .category-list-item .category-list-link::after {
    content: "";
    position: relative;
    width: 0;
    bottom: 0;
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #fff;
}

#page .category-lists .category-list .category-list-item .category-list-link:hover::after {
    width: 60%;
    left: 1%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list .category-list-item .category-list-count {
    color: #fff;
    font-size: 1.3rem;
}

#page .category-lists .category-list .category-list-item .category-list-count::before {
    content: "\f02d";
    padding-right: 15px;
    font-family: "Font Awesome 6 Free";
}

/* #page .category-list-count::before, */
#page .category-list-count::after {
    display: none;
}

#page .category-lists .category-list li.category-list-item a.category-list-link::before {
    position: absolute;
    font-size: 4rem;
    line-height: 4rem;
    top: 1rem;
    right: 1rem;
    border-radius: 8px;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list li.category-list-item a.category-list-link:hover::before {
    opacity: 0.9;
    transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
}

/* 优秀文章 */
#page .category-lists .category-list li.category-list-item:nth-child(1) {
    background: #4074f6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

#page .category-lists .category-list li.category-list-item:nth-child(1) a.category-list-link::before {
    content: "📑";
}

/* 博客总结 */
#page .category-lists .category-list li.category-list-item:nth-child(2) {
    background: -webkit-linear-gradient(left, #ba52ed, #ff99fe);
    background: -moz-linear-gradient(left, #ba52ed, #ff99fe);
    background: -o-linear-gradient(left, #ba52ed, #ff99fe);
    background: -ms-linear-gradient(left, #ba52ed, #ff99fe);
    background: linear-gradient(to right, #ba52ed, #ff99fe);
}

#page .category-lists .category-list li.category-list-item:nth-child(2) a.category-list-link::before {
    content: "📚";
}

/* 博客搭建 */
#page .category-lists .category-list li.category-list-item:nth-child(3) {
    background: -webkit-linear-gradient(left, #6639a6, #3490de);
    background: -moz-linear-gradient(left, #6639a6, #3490de);
    background: -o-linear-gradient(left, #6639a6, #3490de);
    background: -ms-linear-gradient(left, #6639a6, #3490de);
    background: linear-gradient(to right, #6639a6, #3490de);
}

#page .category-lists .category-list li.category-list-item:nth-child(3) a.category-list-link::before {
    content: "🦋";
}

#page .category-lists .category-list li.category-list-item:nth-child(4) {
    background: -webkit-linear-gradient(right, #38ef7d, #11998e);
    background: -moz-linear-gradient(right, #38ef7d, #11998e);
    background: -o-linear-gradient(right, #38ef7d, #11998e);
    background: -ms-linear-gradient(right, #38ef7d, #11998e);
    background: linear-gradient(to left, #38ef7d, #11998e);
}

#page .category-lists .category-list li.category-list-item:nth-child(4) a.category-list-link::before {
    content: "📔";
}

/* 实用教程 */
#page .category-lists .category-list li.category-list-item:nth-child(5) {
    background: -webkit-linear-gradient(left, #b91d73, #f953c6);
    background: -moz-linear-gradient(left, #b91d73, #f953c6);
    background: -o-linear-gradient(left, #b91d73, #f953c6);
    background: -ms-linear-gradient(left, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
}

#page .category-lists .category-list li.category-list-item:nth-child(5) a.category-list-link::before {
    content: "✨";
}

/* 敲敲代码 */
#page .category-lists .category-list li.category-list-item:nth-child(6) {
    background: -webkit-linear-gradient(left, #f12711, #f5af19);
    background: -moz-linear-gradient(left, #f12711, #f5af19);
    background: -o-linear-gradient(left, #f12711, #f5af19);
    background: -ms-linear-gradient(left, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
}

#page .category-lists .category-list li.category-list-item:nth-child(6) a.category-list-link::before {
    content: "💻";
}

/* 生活杂谈 */
#page .category-lists .category-list li.category-list-item:nth-child(7) {
    background: -webkit-linear-gradient(left, #009ad6, #1b315e);
    background: -moz-linear-gradient(left, #009ad6, #1b315e);
    background: -o-linear-gradient(left, #009ad6, #1b315e);
    background: -ms-linear-gradient(left, #009ad6, #1b315e);
    background: linear-gradient(to right, #009ad6, #1b315e);
}

#page .category-lists .category-list li.category-list-item:nth-child(7) a.category-list-link::before {
    content: "💬";
}



/* 标签 */

#aside-content .card-tag-cloud a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    margin: 3px;
    padding: 0 5px;
}

.tag-cloud-list a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 5px;
}

/*主页文章分类*/

:root {
    --heo-white: #fff;
    --heo-black: #000;
    --heo-none: rgba(0, 0, 0, 0);
    --heo-gray: #999999;
    --heo-yellow: #ffc93e;
    --heo-main: var(--heo-theme);
    --heo-main-op: var(--heo-theme-op);
    --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
    --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--heo-card-border);
    --style-border-hover: 1px solid var(--heo-theme);
}

::selection {
    background: var(--heo-fontcolor);
    color: var(--heo-background);
}

[data-theme=light] {
    --heo-theme: #425AEF;
    --heo-theme-op: #4259ef23;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-theme);
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
}

[data-theme=dark] {
    --heo-theme: #0084FF;
    --heo-theme-op: #0084FF23;
    --heo-blue: #0084FF;
    --heo-red: #FF3842;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #F7F7FA;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0, 0, 0, 0.6);
    --heo-maskbgdeep: rgba(0, 0, 0, 0.85);
    --heo-hovertext: #0A84FF;
    --heo-ahoverbg: #fff;
    --heo-lighttext: #f2b94b;
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1b26;
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-card-border: #42444a;
}

@media screen and (max-width: 768px) {
    :root {
        --style-border: 0px solid var(--heo-card-border);
        --style-border-hover: 0px solid var(--heo-theme);
    }
}

/*51la 统计css*/
#statistic {
    font-size: 18px;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    color: var(--font-color);
    background-color: var(--card-bg);
}

div#statistic .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#statistic a {
    text-decoration: none;
}

#statistic .content div {
    display: inline-block;
}

#statistic div span {
    font-size: 14px;
    line-height: 1.3;
    display: block;
}

#statistic div .num {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: .8rem;
    white-space: nowrap;
}

/* 分类目录条、标签目录条 */
#catalog-bar {
    padding: .4rem .8rem;
    border-radius: var(--border-radius);
    display: flex;
    border: var(--card-border);
    margin-bottom: 1rem;
    justify-content: space-between;
}

#catalog-bar:hover {
    border-color: var(--main);
}

#catalog-bar i {
    line-height: inherit;
}

#catalog-list {
    /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
    /* width: 100%; */
    margin: 0 .5rem;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
}

#catalog-list::-webkit-scrollbar {
    display: none;
}

.catalog-list-item a {
    margin: 0 .2em;
    padding: 0.2em 0.3em 0.3em;
    font-weight: bold;
    border-radius: var(--border-radius);
    color: var(--font-color);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.catalog-list-item:hover a {
    background: var(--main);
    color: var(--second);
}

.catalog-list-item.selected a {
    background: var(--light-text);
    color: var(--second);
}

a.catalog-more {
    min-width: fit-content;
    font-weight: bold;
    color: var(--font-color);
}

a.catalog-more:hover {
    color: var(--main);
}

/*首页轮播图*/
#home_top {
    margin: 1rem auto 0;
    padding: 0px 15px;
    max-width: 1300px;
    width: 100%;
}

.recent-post-item {
    display: none;
}