/* 页脚 */
.footer_custom_text a {
    margin: 0 5px;
}

#footer::before {
    content: none;
}

#footer-wrap {
    color: var(--font-color);
    padding: 50px 5% 35px 5%;
    display: flex;
    flex-wrap: wrap;
    background: var(--ichika-footer-bg);
    position: relative;
}

#footer-wrap>div {
    width: 50%;
}

#footer-left {
    text-align: left
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-copyright {
    font-size: 1rem;
    font-weight: normal;
}

#footer-wrap .footer-button {
    display: flex;
    margin: 15px 0;
}

#footer-wrap .footer-button>a {
    font-size: 1.3rem;
    margin-right: 24px;
    transition: 0.2s;
    background: black;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    color: white;
}

#footer-wrap .footer-button>a:hover {
    background: var(--ichika-color);
    transition: 0.2s;
}

#footer-wrap .footer-button>a i {
    margin: auto;
    line-height: 42px;
}

#footer-wrap .iconfont {
    font-size: 1.3rem;
}

#footer-right {
    text-align: right;
    height: max-content;
    margin-top: auto;
}

#footer-right p,
#footer-right a {
    color: var(--ichika-font-grey);
}


.footer-info p {
    font-size: 14px;
    margin: 0;
}

.footer-info a {
    margin-left: 20px;
    transition: 0.2s;
}

.footer-info a:hover {
    color: var(--ichika-color) !important;
    transition: 0.2s;
}

.footer-info a:hover img {
    filter: none !important;
    transition: 0.2s;
}

.footer-service img {
    height: 20px;
    filter: grayscale(1);
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.2s;
}

.footer-service img:hover {
    filter: none;
    transition: 0.2s;
}

@keyframes footerToTop {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    #footer-wrap>div {
        width: 100%;
        text-align: center;
    }

    #footer-wrap .footer-button>a {
        margin: 0 auto;
    }
}